.otp-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #f0f9ff;
  width: 100%;
  padding: 1rem;
}
.otp-form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.otp-send-number {
  color: #0369a1;
  font-size: 0.875rem;
  margin: 5px 0;
}
.otp-text {
  font-size: 12px !important;
  color: #64748b !important;
  font-style: italic;
}
.otp {
  color: #0369a1;
  font-weight: 600;
}

.back-to-login-btn {
  background: #f3f4f6;
  color: #374151;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.back-to-login-btn:hover {
  transform: scale(1.05);
}
