.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-part-1 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-part-1 h3 {
  font-size: 1.5rem;
  font-style: italic;
  color: #333;
  font-weight: 500;
}

.nav-part-1 p {
  font-size: 1rem;
  text-align: start;
  color: #666;
}

@media (max-width: 576px) {
  .nav-part-1 h3 {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
  }
  .nav-part-2 {
    font-size: 0.75rem !important;
    padding: 0.5rem !important;
    gap: 0.3rem !important;
  }
}

.nav-part-2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #ff4d4d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}
.nav-part-2:hover {
  transform: scale(1.05);
}

.span-name-text {
  font-weight: bold;
  color: #666;
}
