.footer-container {
  /* display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem; */

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
  width: 100%;
}
.shop-details {
  display: flex;
  flex-direction: column;
  padding: 0.875rem;
  gap: 0.5rem;
  padding: 1rem;
}

.shop-details h6 {
  text-align: start;
  font-size: 0.875rem;
}

.shop-details p {
  font-size: 0.875rem;
  text-align: start;
  color: #333;
  font-weight: 500;
}
.contact-container {
  display: flex;
  gap: 1rem;
}

.social-icon {
  height: 20px;
  width: 20px;
}
.subscribe-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.email-field {
  min-width: 150px;
  padding: 0.5rem 1rem;
}

.sub-btn {
  background: #ff523b;
  padding: 1rem 2rem;
  border-radius: 16px;
  border: none;
  color: white;
  font-weight: bold;
}
