.signUp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.signUp-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.form-group {
  display: flex;
  align-items: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 100%;
}

/* @media (max-width: 576px) {
  .signUp-form {
    padding: 0.75rem !important;
    width: 100%;
  }
} */

.form-group:hover {
  border: 2px solid #667eea;
}

.form-icon {
  color: #333;
  font-size: 1.5rem;
}

.form-group input {
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
}

.form-group input::placeholder {
  color: #999;
  font-weight: 500;
}

.signUp-button {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  color: #fff;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.signUp-button:hover {
  transform: scale(1.05);
}

span p {
  color: #667eea;
  font-weight: 500;
  cursor: pointer;
}
